body{

    background-image: url(../assets/male.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
form{ 
     background-color: #012501;
    width: 50%;
    margin:auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 12px grey;
    color: white;
}
legend{
    font-size: 25px;
    font-weight: bold;
    text-align:center;
    color: rgb(255, 253, 253);
}
input[type=text], input[type=password], input[type=email], input[type=date],
input[type=datetime-local],input[type=tel],select{
    width: 100%;;
    border: none;
    height: 40px;
    border-radius: 10px;
    padding-left:10px;
    margin-top:10px;
}
button{
    width: 130px;
    height: 45px;
    border:none;
    border-radius: 12px;
    background-color: rgb(92, 2, 86);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
button:hover{
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    background-color: rgb(3,3,100);
    color: yellow;
}
.Terms{
    text-align: center;
    color: white;
}
.Terms a{
    color:yellow;
    text-decoration: none;
}
input[type=radio], input[type=checkbox]{
    margin-left: 40px;
}
.btn-link{
    color:yellow;
    text-decoration: none;
}
.login-link{
    text-align: center;
}
